.site-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.site-container__body {
  height: calc(100% - #{ $site-header-height + $site-footer-height });
  position: relative;
}

.el-main.site-main {
  padding: 0;
}
.site-main {
  background-color: #FAFAFA;
}
// .drag-mark {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   z-index: 9;
//   cursor: ew-resize;
// }
.drag-bar {
  display: block;
  position: absolute;
  /**  */
  left: $site-aside-width;
  top: 0;
  bottom: $site-music-card-height;
  width: 3px;
  margin-left: -1px;
  cursor: ew-resize;
  z-index: 10;
  // background-color: red;
}