.home-mv {
  &__pic {
    position: relative;
    color: #ffffff;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      .home-mv__copywriter {
        top: 0px;
      }
      .home-mv__play-count {
        display: none;
      }
    }
  }
  .el-image {
    height: 132px;
  }
  &__play-count {
    position: absolute;
    right: 0;
    top: 0;
    left: 20px;
    padding: 2px 6px;
    background: rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    text-align: right;
    transition: display 0.5s ease-in-out;
    i {
      margin-right: 4px;
    }
  }
  &__copywriter {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    padding: 6px 10px;
    background: rgba(0, 0, 0, 0.3);
    transition: top 0.5s ease-in-out;
  }
  &__name {
    &:hover {
      color: #000;
    }
  }
  &__artist-name {
    color: #666;
    &:hover {
      color: #000;
    }
  }
}
